
.productCard .textPart{
    transition: transform .3s ease-out;
}
.productCard:hover{
    box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
    border-radius: 4px;
}
.productCard:hover .textPart{
    transform: translateY(-1rem);
}